<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput type="text"
        type="text"
        formControlName="title"
        placeholder="{{ insertTitleLabel }}">
        <mat-error *ngIf="form.get('title').invalid">{{errorTitleLabel}}</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <mat-form-field>
      <textarea
        matInput rows="6"
        formControlName="content"
        placeholder="{{ insertContentLabel }}">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid">{{errorContentLabel}}</mat-error>
    </mat-form-field>
    <br>
    <button
      mat-raised-button
      color="accent"
      type="submit">
      Save Post
    </button>
  </form>
</mat-card>
